<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0" metadata-complete="true">

  <display-name>Archetype Created Web Application</display-name>

  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.mybatis.wechat.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>listServlet</servlet-name>
    <servlet-class>org.mybatis.wechat.servlet.ListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listServlet</servlet-name>
    <url-pattern>/List.action</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>deleteOneServlet</servlet-name>
    <servlet-class>org.mybatis.wechat.servlet.DeleteOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteOneServlet</servlet-name>
    <url-pattern>/DeleteOne.action</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>deleteBatch</servlet-name>
    <servlet-class>org.mybatis.wechat.servlet.DeleteBatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBatch</servlet-name>
    <url-pattern>/DeleteBatch.action</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>initTalk</servlet-name>
    <servlet-class>org.mybatis.wechat.servlet.InitTalkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>initTalk</servlet-name>
    <url-pattern>/InitTalk.action</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AutoReplyServlet</servlet-name>
    <servlet-class>org.mybatis.wechat.servlet.AutoReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoReplyServlet</servlet-name>
    <url-pattern>/AutoReplyServlet.action</url-pattern>
  </servlet-mapping>
</web-app>
